/* === Base :root for Dark Mode (Default) === */
:root {
  /* Typography */
  --font__sans: 'Arial', sans-serif;
  --font__base: var(--font__sans);
  
  /* Font sizing (10px = 1rem) */
  font-size: 62.5%; /* 62.5% of default 16px = 10px */

  /* Color Palette: Dark Mode */
  --color__bg: #000000;
  --color__key: #333333;
  --color__key--operator: #FEA00A;
  --color__key--clear: #C61A09;
  --color__key--equal: #22C55E;
  --color__content--1: #FFFFFF;
  --color__content--2: #000000;  
  --color__content--3: #CECECE;
  --color__content--4: #616161;

  /* Layout & spacing */
  --gap: 2rem;
  --container-max-width: 144rem;

  /* Theme signal for supported browsers */
  color-scheme: dark light;
}

/* === Light Theme Overrides === */
/* [data-theme="light"] {
  --color_bg: #000000;
  --color_key: #333333;
  --color_key-operator: #FEA00A;
  --color_content: #ffffff;
  --color_content2: #cecece;
} */

/* === Global Resets & Defaults === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color__bg);
  color: var(--color__content--1);

  font-family: var(--font__base);

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 36rem;
  height: 100dvh;
  margin: 1.6rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: hidden;
}

button {
  border: none;
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 3.2rem 1.6rem;
  padding: 1.6rem;
  gap:1.6rem;
  
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  overflow: hidden;

  border: 1px solid var(--color__content--4);
  border-radius: 1.6rem;
}

/* Display */
.calculator__display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 1fr;
  gap: .4rem;
}

.calculator__display--history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  font-size: 1.4rem;
  color: var(--color__content--3);
}

.calculator__display--answer, 
.calculator__display--preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: fit-content;

  font-size: 2rem;
  color: var(--color__content--3);
}

.calculator__display--working {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: fit-content;
  
  /* Tried using the input element
  
  border: none;
  background-color: transparent; */

  color: var(--color__content--1);
  font-size: 3.2rem;
}

/* Keys */ 

.calculator__keys {
  display: grid;
  /* 4 equal columns */
  grid-template-columns: repeat(4, 1fr); 
  /* 5 rows (to account for the AC row + 4 rows of numbers) */
  grid-template-rows: repeat(5, 6.4rem); 
  gap: .8rem;
}

.calculator__key {
  background-color: var(--color__key);
  color: var(--color__content--1);
  font-size: 2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 5.6rem;
  height: 5.6rem;
  border-radius: 3.2rem;
}

/* AC: Takes the first cell */
.calculator__key--clear {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--color__key--clear);
}

/* Equal Button: Spans 2 rows at the bottom right */
.calculator__key--equal {
  grid-column: 4;
  grid-row: 5;
  height: 100%;       /* Ensure it stretches to fill both slots */
  background-color: var(--color__key--equal);
}

/* Operators: Ensure they stay in the 4th column */
.calculator__key--operator {
  grid-column: 4;
  background-color: var(--color__key--operator);
}